# Ignore these formats often created
# when tex-files are compiled with
# pdflatex
*.html
*.log
*.aux
*.bbl
*.blg
*.lof
*.lot
*.out
*.toc
*.tex~
*.bib~
*.py~
*.sh~
*.md~
*.yml~
*.xlsx~
*.sh~
*.jl~
# We also remove the gitignore itself
.gitignore~
# Also, we remove some annoying folders that get created in the Code folder when the scripts are executed.
/Code/__pycache__
/Code/.ipynb_checkpoints
# Also, we make a folder with a temporary presentation which we do not want to push
/Presentations/