# Ignore these formats often created
# when tex-files are compiled with
# pdflatex
*.log
*.aux
*.bbl
*.blg
*.lof
*.lot
*.out
*.toc
*.tex~
*.bib~
*.py~
*.sh~
*.md~
*.yml~
*.xlsx~
# We also remove the gitignore itself
.gitignore
.gitignore~